<footer class="main-footer">
        <div class="container">
            <div class="footer-grid">
                <div class="footer-info">
                    <div class="logo" style="font-weight: bold; font-size: 24px; color: white; margin-bottom: 15px;">
                        Вент<span style="color: var(--primary-blue);">Ресурс</span>
                    </div>
                    <p>2007-2019 &copy; ООО "Компания ВентРесурс"</p>
                    <p>Промышленная вентиляция, отопление</p>
                </div>
                <div class="footer-contacts">
                    <h4>Контакты</h4>
                    <p><i data-lucide="map-pin" size="18"></i> 460052, Россия, г. Оренбург, ул. Просторная 23/3</p>
                    <p><i data-lucide="phone" size="18"></i> +7 (3532) 43-99-99, 8 (800) 201-37-84</p>
                    <p><i data-lucide="clock" size="18"></i> с 9:00 до 18:00</p>
                    <p><i data-lucide="mail" size="18"></i> v-resurs@mail.ru</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Разработано для ООО "ВентРесурс"</p>
            </div>
        </div>
    </footer>

                    
<script>
    lucide.createIcons();
    document.addEventListener('DOMContentLoaded', function() {
        const observerOptions = {
            threshold: 0.1 // Сработает, когда 10% карточки будет видно
        };

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('active');
                    observer.unobserve(entry.target); // Перестаем следить после активации
                }
            });
        }, observerOptions);

        document.querySelectorAll('.reveal-card').forEach(card => {
            observer.observe(card);
        });
    });
</script>
</body>
</html>