<%- include('partials/header') %>

<main class="container">
    <h1 class="animate__animated animate__fadeIn">Добро пожаловать в ВентРесурс</h1>
    <p>Многофункциональная система управления услугами.</p>
    <i data-lucide="wind"></i>
</main>

<%- include('partials/footer') %>
